.suspects-chart {
  .suspects-chart-note,
  .suspects-chart-bottom-title,
  .suspects-chart-bottom-description {
    line-height: 1;
  }

  .suspects-chart-title {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .suspects-chart-bottom-title {
    font-weight: 700;
  }
}
