.covid19-chart {
  .chart-note,
  .chart-bottom-title,
  .chart-bottom-description,
  .chart-bottom-explanatory-note-title {
    line-height: 1;
  }

  .chart-title {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }

  canvas {
    margin: 15px 0;
  }

  .chart-bottom-title {
    font-weight: 700;
  }

  .chart-bottom-explanatory-note-title {
    font-weight: 700;
    color: #f8ab28;
    margin-top: 5px;
  }
}
