.covid19-chart {
  .chart-note,
  .chart-bottom-title,
  .chart-bottom-description,
  .chart-bottom-explanatory-note-title {
    line-height: 1;
  }

  .chart-title {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .chart-bottom-title {
    font-weight: 700;
  }

  .recharts-wrapper {
    .recharts-legend-wrapper {
      ul {
        li {
          text-transform: capitalize;
        }
      }
    }
  }

  .chart-bottom-explanatory-note-title {
    font-weight: 700;
    color: #f8ab28;
    margin-top: 5px;
  }
}
