.covid19-sticky-notes {
  margin: 0 15px 15px 0;

  @media (max-width: 768px) {
    margin: 0 15px 15px 0;
  }

  @media (max-width: 576px) {
    margin-right: 0;
  }

  &.covid19-paper {
    padding: 10px;
  }

  &-value {
    font-family: "Comfortaa", cursive !important;
    font-weight: 700 !important;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 700 !important;
    line-height: 1.2 !important;
  }

  &-description {
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
