.covid19-infection-difference {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    margin-right: 10px;

    &.increased {
      margin-top: 20px;
    }

    &.decreased {
      margin-bottom: 20px;
    }
  }

  &-value {
    font-weight: 700 !important;
    color: #d0021b;
  }
}
