.covid19-actual-state-section {
  .covid19-info-container {
    align-items: center;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

    .covid19-info-title {
      font-weight: 700;
    }

    .covid19-info {
      font-size: 1.05rem !important;
      line-height: 1.3;
      letter-spacing: 1px;
    }

    .covid19-info-date {
      font-size: 1.5rem !important;
      color: #f79a3a;

      .year {
        font-weight: 700;
      }

      .month {
        text-transform: uppercase;
        letter-spacing: 2.5px;
      }
    }

    .covid19-info-paper {
      h4,
      h5 {
        font-family: "Comfortaa", cursive;
      }

      h4 {
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .covid19-summary-title {
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .covid19-summary-cases {
    .covid19-summary-cases-stack {
      display: flex;
      padding: 0 15px;

      .summary-cases-sn-wrapper {
        max-height: 110px;
      }
    }

    .covid19-chart {
      margin-top: 0px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1199px) {
    .covid19-info-container {
      justify-content: center;
      text-align: center;

      .home-header-paper {
        margin: 20px 0;
      }
    }

    .covid19-summary-title {
      text-align: center;
    }

    .covid19-summary-cases {
      justify-content: center;

      .covid19-confirmed-cases {
        width: 100%;
        margin-bottom: 20px;

        .covid19-paper {
          text-align: center;

          .confirmed-cases-title {
            max-width: 100%;
          }
        }
      }

      .covid19-summary-cases-stack {
        padding: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    .covid19-info-container {
      justify-content: center;

      .home-header-paper {
        width: 75%;
        text-align: center;
      }

      .covid19-info-title,
      .covid19-info,
      .covid19-info-date {
        text-align: center;
      }

      .covid19-info-paper {
        margin-top: 15px;
      }
    }

    .covid19-summary-title {
      text-align: center;
    }

    .covid19-summary-cases {
      .covid19-confirmed-cases {
        width: 100%;

        .covid19-paper {
          text-align: center;

          .confirmed-cases-title {
            max-width: 100%;
          }
        }
      }

      .covid19-summary-cases-stack {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 15px;

        .summary-cases-sn-wrapper {
          max-height: 130px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .covid19-info-container {
      .home-header-paper {
        width: 100%;
        text-align: center;
      }
    }

    .covid19-summary-cases {
      .covid19-summary-cases-stack {
        display: flex;
        flex-direction: column;

        .summary-cases-sn-wrapper {
          max-height: 150px;
        }
      }
    }

    .covid19-suspects-chart {
      margin-top: 15px;
    }
  }
}
