.covid19-paper {
  padding: 15px;

  &.paper-dark {
    background-color: black;
    color: #fff;
  }

  &.paper-warning {
    background-color: #f79a3a;
    text-transform: uppercase;
  }

  &.paper-success {
    background-color: #7ed321;
    color: #fff;
  }

  &.paper-danger {
    background-color: #d0021b;
    color: #fff;
  }

  &.paper-note {
    background-color: #b8e986;

    h6 {
      font-weight: 700 !important;
      letter-spacing: 2px;

      &:not(:first-child) {
        line-height: 1.1;
      }
    }
  }
}
