.covid19-provinces-confirmed-indicators-section {
  .covid19-provinces-confirmed-indicators-charts-container {
    div:nth-child(odd) {
      padding-right: 15px;

      @media (max-width: 960px) {
        width: 100%;
        padding-right: 0;
      }
    }

    div:nth-child(even) {
      padding-left: 15px;

      @media (max-width: 960px) {
        width: 100%;
        padding-left: 0;
      }
    }

    .covid19-provinces-confirmed-chart-wrapper {
      &:nth-child(odd) {
        padding-right: 0;
      }
    }

    .covid19-hospitable-variation-chart-wrapper {
      &:nth-child(even) {
        padding-left: 0;
        padding-right: 15px;
      }
    }

    .covid19-domiciliary-variation-chart-wrapper {
      &:nth-child(odd) {
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }
}
