.covid19-provinces-evolution-fi-section {
  .covid19-provinces-evolution-fi-explaination {
    p {
      font-size: 1.25rem;
      text-align: justify;
    }

    h5 {
      color: #f79a3a;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    p, h4 {
      margin-bottom: 2.5rem;
    }
  }
}
